/* Reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button,
input,
textarea,
select {
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-family: "Formative Trial", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
  width: 100%;
}

/* Fonts Import  */

/* Light - 300 */
@font-face {
  font-family: "Formative Trial";
  src: url("/assets/fonts/Formative Trial Light/Formative Trial Light.woff2")
    format("woff2");
  font-weight: 300;
  font-style: normal;
}

/* Regular - 400 */
@font-face {
  font-family: "Formative Trial";
  src: url("/assets/fonts/Formative Trial Book/Formative Trial Book.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* Medium - 500 */
@font-face {
  font-family: "Formative Trial";
  src: url("/assets/fonts/Formative Trial Medium/Formative Trial Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
}

/* Semi-Bold - 600 */
@font-face {
  font-family: "Formative Trial";
  src: url("/assets/fonts/Formative Trial Semi-Bold/Formative Trial Semi-Bold.woff2")
    format("woff2");
  font-weight: 600;
  font-style: normal;
}

/* Bold - 700 */
@font-face {
  font-family: "Formative Trial";
  src: url("/assets/fonts/Formative Trial Bold/Formative Trial Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* Variáveis de cores */

:root {
  /* Cores principais */
  --primary-color: #003049;
  --secondary-color: #101828;
  --color-text-secondary-transparent: #10182880;
  --white: #ffffff;
  --gray-very-light: #f5f5f5;
  --gray-light: #f4f4f4;
  --graphite-gray-paragraph: #667085;
  --black: rgba(0, 0, 0, 1);
  --produto-texto: rgba(0, 0, 0, 0.7);
  --background-button: linear-gradient(62deg, #101828 0%, #233250 100%);
  --background-border-color: rgba(16, 24, 40, 0.151);

  /* Sombras */
  --box-shadow-button: 5px 4px 4px rgba(0, 0, 0, 0.25);
  --box-shadow-inset-button: 0 0 8px 4px rgba(0, 0, 0, 0.25) inset;
}
