/* Container Services */
.team-section {
  order: 6;
  display: flex;
  background: var(--background-primary);
  padding: 70px 40px;
  flex-direction: column;
  flex-wrap: nowrap;
  width: auto;
  gap: 20px;
}

.team-member-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 7px;
}

.team-member-item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  text-align: center;
  height: auto;
}

.team-member-photo {
  width: 175px;
  height: 175px;
  object-fit: contain;
  filter: brightness(0.8);
  transition: transform 0.3s ease;
  margin-bottom: 5px;
}

.team-member-name {
  font-size: 12.54px;
  font-weight: 600;
  line-height: 18.81px;
  margin-bottom: 5px;
}
.team-member-function {
  font-weight: 400;
  font-size: 12px;
  line-height: 17.56px;
  color: var(--secondary-transparent);
  margin-bottom: 10px;
}

.team-member-social {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.team-member-social img {
  width: 15.05px;
  height: 12.32px;
}

@media (min-width: 1440px) {
  .team-section {
    order: 5;
    align-items: center;
    gap: 40px;
  }

  .team-container {
    display: flex;
    flex-direction: column;
    width: 1286px;
    height: 100%;
    position: relative;
    overflow: hidden;
    padding: 0px 32px 0px 32px;
  }

  .team-member-list {
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
  }

  .team-member-item {
    position: relative;
    overflow: hidden;
    align-items: flex-start;
    text-align: start;
    height: auto;
  }

  .team-member-photo {
    width: 280px;
    height: 296px;
    margin-bottom: 24px;
  }

  .team-member-name {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
  }

  .team-member-function {
    font-size: 18px;
    line-height: 28px;
    color: var(--secondary-transparent);
    margin-bottom: 18px;
  }

  .team-member-social {
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  .team-member-social img {
    width: 24px;
    height: 24px;
  }
}
